.div2{
    border: none;
    width: 100;
    float:left;
    background-color: rgb(187, 0, 255);
    color:white;
     margin-left:5cm;
   margin-top: 40px;
    border-radius: 20px;
    font-size: 13px;
    padding: .5cm;
    position: relative;
    /* margin-bottom: 1cm; */
    border: none;
    text-align: center;
}
.div:hover{
box-shadow: 8px 8px 8px 8px black;

}