.body
{
  /* background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%); */
  /* background-color:black; */
  border:none;
  height: 109vh;
  background-image: url('wall6.jpeg');
  background-position: center;
  background-size: cover;
  position:fixed;
  width: 100%;
}

.pic{
  /* background: transparent; */
  background: linear-gradient(to top,rgba(223, 185, 136,.5)50%,rgba(223, 185, 136,.5)50%);
  width: 20%;
  height: 11.8cm;
  border:none;
  border-radius: 20px;
  margin-left: 5cm;
  margin-top: -8.5cm;
  box-shadow: 8px 8px rgba(0, 0,0,.3);
} 
.loginhere{
  width:5cm;
  height: 1cm;
  color:white;
  text-align: center;
  background-color: white;
  font-size: 25px;
  color:red;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
  margin-left: -1.05cm;
  margin-top:0cm;
  padding-bottom: 2px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 2px;
  
} 
.lab{
  font-size: 45px;
  color:aqua;
  margin-top: 0;
}
.lab input{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 3px solid red;
  border-top: none;
  border-right: none;
  border-left: none;
  color:white;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 1px;
  margin-left: 1cm;
  font-family: sans-serif;
}
.lab input:focus{
  outline: none;
}
::placeholder
{
  color:black;
  font-family: Arial;
}
.btn button
{
  margin-left: 9%;
  font-size: 28px;
  width: 80%;
  background: red;
  color: white;
  border: none;
  border-radius: 10px;
}
.nav 
{
  float: inline;
  display: flex;
  color: red;
  
}
.menu ul{
  float:left;
  display: flex;
  justify-content: center;
    align-items: center;
    
  }
  .menu ul li{
    
    list-style: none;
    margin-left: 62px;
    margin-top: 10px;
    font-size: 14px;
  }
  .menu li{
    /* margin-left: .5cm; */
    /* background-color: aqua; */
    font-size:18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .link{
    color: white;
    font-size: 20px;
    margin-left: 1.5cm;
    margin-top: 18px;
  }
  .link button{
    border: none;
    background: transparent;
    color:blue;
    font-size: 25px;
    cursor: pointer;
  }
  
  .icon 
  {
    color: white;
    font-size: 40px;
    cursor: pointer;
    display: flex;
    float: left;  
    padding-right: 14px;  
    margin-left: 10px;
  }
  .menu button{
    border: none;
    background: transparent;
    color:red;
    margin-top: -.5cm;
  }
  .menu button:hover{
    color: white;
    border: none;
    
  }
  .menu
  {
    width: 400px;
    float: left;
  height: 70px;
  margin-left: 20px;
  font-size: 40px;
  font-family: 'Times New Roman';
}
.search{
  width: 380px;
  float: left;
  margin-left: 1100px;
  margin-top: -1.9cm;
  color:white;
}
.srch{
  font-family: 'Times New Roman';
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid orange;
  border-right: none;
  margin-top: 13px;
  font-size: 16px;
  float:left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color:white;
  
}
.btnn{
  width: 100px;
  height: 40px;
  background:red;
  border: 2px solid orange;
  border-left: none;
  margin-top: 13px;
  color:white;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btnn:focus{
  outline: none;
}
.srch:focus{
  outline: none;
}
.check,label{
  margin-left: 0.3cm;
  font-size: 25px;
}
.stf{
  margin-right: 50%;
  color: rgb(0, 0, 0);
  padding-bottom: 10px;
}
.stf:hover{
  margin-right: 50%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:darkgreen;
  padding-bottom: 10px;
}
.std{
  margin-right: 50%;
  color: rgb(0, 0, 0);
  padding-bottom: 10px;
}
.std:hover{
  color:rgb(233, 229, 8); 
}
.admin{
  margin-right: 50%;
  color: rgb(0, 0, 0);
  padding-bottom: 10px;
  
}
.admin:hover{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:rgb(240, 6, 6);
  
  
}
.null{
  height: 20px;
  accent-color: red;
  width: 20px;
}
.check{
  margin-left: 1.5cm;
}
h2{
  width:5cm;
  height: 0.6cm;
  color:white;
  text-align: center;
  background-color: white;
  font-size: 20px;
  color:red;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
  margin-left: .4cm;
  padding-bottom: 5.3px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 2px;
}
#result{
  width:5cm;
  height: 1cm;
  color:white;
  text-align: center;
  background-color: white;
  font-size: 25px;
  color:red;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
  margin-left: .4cm;
  padding-bottom: 2px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 2px;
  font-weight:499;
} 
.menu{
  margin-top: 0.5cm;
  background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
  width: 90%;
  height: 2cm;
  margin-left: 2cm;
  border-radius: 20px;
  /* box-shadow: 10px 10px #837d7d; */
}
ul{
  margin-top: .5cm;
}
.text{
  margin-top: 3cm;
  font-size:40px;
  color: red;
  font-family:monospace;
  margin-left: 21cm;
}
.picimg{
  background-image: url('pic.png');
  /* background-color: blue; */
  margin-top: -2cm;
  margin-left: -2.7cm;
  /* background-color: red; */
  width:666px;
  height: 375px;
  /* margin-right: 15cm; */
  
}
srch{
  color:white;
}

.adminlogin{
  position: relative;
  margin-top: 10cm;
  margin-left: 30%;
  background: rgb(255, 0, 0);
  border-radius: 80%;
  color:white;
cursor: pointer;
box-shadow: 5px 5px black;
  border: none;
  width: 7cm;
  height: 2cm;
  padding:10px 10px 10px 20px;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;

}